@import './_reset'

// iconfont字体
@font-face {
  font-family: 'jzdc';  /* project id 705796 */
  src: url('http://at.alicdn.com/t/font_705796_3dsd8p4z1la.eot');
  src: url('http://at.alicdn.com/t/font_705796_3dsd8p4z1la.eot?#iefix') format('embedded-opentype'),
    url('http://at.alicdn.com/t/font_705796_3dsd8p4z1la.woff') format('woff'),
    url('http://at.alicdn.com/t/font_705796_3dsd8p4z1la.ttf') format('truetype'),
    url('http://at.alicdn.com/t/font_705796_3dsd8p4z1la.svg#iconfont') format('svg');
}

.page-enter-active, .page-leave-active
  transition opacity .5s

.page-enter, .page-leave-active
  opacity 0

.pager
  text-align center
