@import './_reset'

// iconfont字体
@font-face {
  font-family: 'jzdc';  /* project id 705796 */
  src: url('http://at.alicdn.com/t/font_705796_2s7khzbohuf.eot');
  src: url('http://at.alicdn.com/t/font_705796_2s7khzbohuf.eot?#iefix') format('embedded-opentype'),
  url('http://at.alicdn.com/t/font_705796_2s7khzbohuf.woff') format('woff'),
  url('http://at.alicdn.com/t/font_705796_2s7khzbohuf.ttf') format('truetype'),
  url('http://at.alicdn.com/t/font_705796_2s7khzbohuf.svg#iconfont') format('svg');
}