* {
  font-family: Microsoft YaHei, -apple-system, PingFang SC, Hiragino Sans GB, Helvetica Neue, Arial, sans-serif;
  padding: 0;
  margin: 0;
  border: none;
  list-style: none;
  text-underline: none;
  text-decoration: none;
  outline: none;
}
html {
  background-color: #f5f5f5;
  font-family: MicrosoftYaHei;
}
.header {
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  width: 1300px;
  margin: auto;
}
.header img {
  height: 26px;
  padding-top: 18px;
}
.header a {
  padding: 0 20px;
  color: #666;
}
.header a.active,
.header a:hover {
  color: #2475e2;
}
.banner {
  height: 300px;
  padding-top: 100px;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background: #000 url("../img/01@2x.png") no-repeat center;
}
.title {
  font-size: 32px;
  padding-bottom: 40px;
  text-align: center;
}
.title:after {
  display: block;
  width: 2em;
  content: '';
  margin: auto;
  margin-top: 20px;
  border-bottom: 2px solid #fff;
}
.carousel-box {
  width: 1300px;
  height: 580px;
  overflow: hidden;
  margin: auto;
  position: relative;
}
.carousel-box .carousel-btn a {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  text-align: center;
  line-height: 36px;
  z-index: 9;
}
.carousel-box .carousel-btn a:first-child {
  left: 10px;
  background: #ff7900 url("../img/left-btn.png") no-repeat center;
}
.carousel-box .carousel-btn a:last-child {
  right: 10px;
  background: #ff7900 url("../img/right-btn.png") no-repeat center;
}
.carousel-box .carousel {
  width: 300%;
  height: 100%;
  text-align: left;
  position: absolute;
  left: 0;
}
.carousel-box .carousel ul {
  margin: 0;
  float: left;
}
.product {
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
}
.product .title:after {
  border-color: #2475e2;
}
.product ul {
  width: 1300px;
  padding: 10px 65px;
  margin: auto;
  text-align: left;
  box-sizing: border-box;
  background-color: #fff;
  color: #333;
  overflow: hidden;
}
.product ul li {
  display: inline-block;
  width: 340px;
  height: 230px;
  padding-left: 20px;
  float: left;
  box-sizing: border-box;
  margin: 25px;
  padding-bottom: 35px;
  border-left: 5px solid #333;
  border-bottom: 5px solid #333;
  position: relative;
  overflow: hidden;
}
.product ul li .title {
  font-size: 20px;
  text-align: left;
}
.product ul li .title:after {
  width: 1em;
  margin-top: 10px;
  margin-left: 0;
}
.product ul li .product-index {
  position: absolute;
  right: 5px;
  top: 5px;
  font-size: 60px;
  font-weight: bold;
}
.product ul .product-info-box {
  transform: translateX(0);
  padding-top: 4px;
  transition: transform ease 1s;
}
.product ul .product-info-box.product-info-hide {
  transform: translateX(-370px);
}
.product ul .product-info-box .product-info {
  display: flex;
  font-size: 14px;
  padding-bottom: 8px;
}
.product ul .product-info-box .product-info label {
  word-break: break-all;
  white-space: nowrap;
}
.main-footer {
  height: 500px;
  color: #fff;
  padding-top: 100px;
  box-sizing: border-box;
  background: #000 url("../img/02@2x.png") no-repeat center;
}
.main-footer ul {
  display: flex;
  justify-content: center;
}
.main-footer ul li {
  padding: 0 100px;
  text-align: center;
}
.main-footer ul li img {
  height: 98px;
  padding-bottom: 10px;
}
.main-form {
  height: 500px;
  padding-top: 100px;
}
.main-form .title {
  padding-bottom: 46px;
}
.main-form .title:after {
  border-color: #2475e2;
}
.main-form form {
  text-align: center;
  margin: auto;
}
.main-form form .form-item {
  padding-bottom: 20px;
}
.main-form form .form-item label {
  width: 308px;
  display: block;
  margin: auto;
  text-align: left;
}
.main-form form input {
  width: 240px;
  height: 36px;
  padding: 0 0.5em;
  box-sizing: border-box;
  border: 1px solid #dedede;
  border-radius: 5px;
  background: #fff;
}
.main-form form button {
  width: 80px;
  height: 36px;
  border-radius: 5px;
  background: #fff;
  border: 1px solid #dedede;
}
.main-form form button.active {
  color: #fff;
  background: #2475e2;
}
.main-form form button.submit {
  width: 200px;
  color: #fff;
  background: #2475e2;
}
.footer-wrap {
  width: 100%;
  background-color: #333;
}
.footer-wrap .center-wrap {
  width: 1300px;
  display: flex;
  justify-content: center;
  margin: 0 auto;
  box-sizing: border-box;
  pading: 40px 50px 30px;
  padding-top: 40px;
  min-height: 200px;
  color: #fff;
}
.footer-wrap .center-wrap ul {
  width: 340px;
}
.footer-wrap .center-wrap ul li {
  padding-bottom: 20px;
}
.footer-wrap .center-wrap ul img {
  display: inline;
  vertical-align: middle;
  margin-right: 10px;
}
.footer-wrap .center-wrap .center-box p {
  display: flex;
  justify-content: center;
  padding-bottom: 10px;
}
.footer-wrap .center-wrap .center-box p a {
  padding: 0 30px;
  color: #fff;
}
.footer-wrap .center-wrap .center-box p img {
  margin: 10px;
  width: 108px;
  height: 38px;
}
.footer-wrap .center-wrap .code {
  padding-left: 136px;
  text-align: center;
  padding-top: 10px;
}
.footer-wrap .center-wrap .code img {
  padding-bottom: 10px;
}
